[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
geopandas = "*"
geotiff = "*"
matplotlib = "*"
msgpack = "*"
numpy = ">=1.13"
numpy-quaternion = "*"
pandas = "*"
requests = "*"
scipy = "*"
tqdm = "*"
utm = "*"

[requires]
python_version = "3.9"
